name: Automatic Event Date Updater

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
    inputs:
      branch:
        description: "Run tests on branch"
        required: true
        default: "main"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Debug Message
        run: echo "Workflow triggered at $(date)"

      - name: checkout repo content
        uses: actions/checkout@v2 # checkout the repository content to github runner.
      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8 #install the python needed
      - name: Retrieve and write service account JSON
        env:
          SERVICE_ACCOUNT_JSON: ${{ secrets.SERVICE_ACCOUNT_JSON }}
        run: |
          echo "${SERVICE_ACCOUNT_JSON}" > service_account.json
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install gspread
          pip install pandas
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run Python Script
        run: |
          python_script="script_2.py"
          python "$python_script" > eventData.ts

      - name: Configure Git
        run: |
          git config --global user.email "jlang61@ucsb.edu"
          git config --global user.name "Justin Lang"

      - name: Add changes
        run: git add eventData.ts

      - name: Commit changes
        run: |
          git commit -m "Update eventData.ts" || echo "No changes to commit"
      
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}